.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  background-color: #9a64ec;
}

.navbar img {
  height: 60%;
  cursor: pointer;
}

nav {
  margin-left: 30px;
  display: flex;
  gap: 30px;
}

nav a {
  padding: 5px 10px;
  border-radius: 30px;
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
}
.search input {
  padding: 5px 5px 5px 10px;
  border: 5px solid var(--theme);
  width: 300px;
  height: 25px;
}

.search button {
  padding: 5px;
  background-color: var(--theme);
  border: 5px solid var(--theme);
  font-size: large;
  color: #fff;
  transition: 0.5s linear;
  height: 45px;
}

.search button:hover {
  color: #000;
  transition: 0.5s linear;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: row;

  height: 1000px;

}

.filter {
  width: 30%;
  display: flex;
  padding: 5px;
  margin-left: 5px;
  flex-direction: column;

  height: 400px;
  box-shadow: 5px 5px #151414;

}

.cardsmodule {
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cards {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 340px;
  border-radius: 9px;
  box-shadow: 5px 10px #888888;
  padding: 5px;
  margin-top: 25px;
  margin-left: 15px;

  overflow: hidden;
  border: 1px solid black;
}

.images img {
  width: 200px;
  height: 200px;

}

.others {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
header .header{
  background-color: #fff;
  height: 45px;
}
header a img{
  width: 134px;
margin-top: 4px;
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.login-page .form .login{
  margin-top: -31px;
margin-bottom: 26px;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #328f8a;
  background-image: linear-gradient(45deg,#328f8a,#08ac4b);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

.containers {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
